<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>AllNews</title>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" th:src="@{/js/blog.js}"></script>

</head>


<body>
<center>
    <p>---getBlog---</p>
    <div id="hrefs"></div>


    <p>---postBlog---</p>
    <form method="post">
        <input id="b_title" style="width:300px" type="text" name="title"/>
        <br/><br/>
        <textarea id="b_content" style="width:500px; height: 300px;" name="content"></textarea>
        <br/>
        <input id="to" type="submit"/>
    </form>
</center>
</body>
</html>