<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>AllNews</title>

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" th:src="@{/js/news.js}"></script>

</head>
<body>
<div>啦啦啦啦 写代码好辛苦啊</div>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>aaa</th>
        <th>bbb</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
        <th>aaa</th>
        <th>bbb</th>
    </tr>
    </tfoot>
</table>

<div id="a"></div>
</body>
</html>