<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<!--<body>-->
<!--<div th:object="${userdetail}">-->
    <!--<p th:field="*{name}"></p>-->
    <!--<p th:field="*{password}"></p>-->
<!--</div>-->

Hello [[${#httpServletRequest.remoteUser}]]!!

<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>



</body>
</html>