<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
welcome [[${#httpServletRequest.remoteUser}]]!!

<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>

<form th:action="@{/user/profile}" method="get">
    <button type="submit">profile</button>
</form>

<form th:action="@{/shownews}" method="get">
    <button type="submit">shownews</button>
</form>

<form th:action="@{/myNews}" method="get">
    <button type="submit">myNews</button>
</form>

<form th:action="@{/myBlog}" method="get">
    <button type="submit">myBlog</button>
</form>

<form th:action="@{/showBlog}" method="get">
    <button type="submit">showBlog</button>
</form>

</body>
</html>